<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main class="w-screen h-screen bg-zinc-900 text-white p-5 font-mono">
    <div class="nav  px-4 flex justify-between mb-10  border-b-2 border-spacing-2 h-14" > <h1 class="text-3xl">Login </h1><a href="/register"><button class="bg-blue-600 px-6 py-2 rounded-md  hover:bg-yellow-500">Register</button></a></div>
    <form action="/login" method="post">
        <input class="px-3 py-2 mb-1 rounded-md bg-transparent border-zinc-100 border-2 " type="email" name="email" id="email" placeholder="Email">
        <input class="px-3 py-2 mb-1 rounded-md bg-transparent border-zinc-100 border-2 " type="password" name="password" id="password" placeholder="Password">
        <input class="bg-blue-600 px-6 py-3 rounded-md  block mt-2 hover:bg-green-500"  type="submit" value="Login">
    </form>
  </main>
    <script src="/javascripts/script.js"></script>
</body>
</html>