   .red-placeholder::placeholder {
        color: red;
    }
#upload::-webkit-file-upload-button{
    border: none;
    border-radius:4px;
    color: white;
    background:#ffc20c     ;
}
.bgc{
    background-color:#11101D;
}